:root{
    --vermelho: #E50914;
    --preta: #141414;  
}

/*Zerando Css abaixo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Elementos Base  */
body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content:space-between;

}

.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-family: 'Arial', Times;
    font-weight: bold;
}

header nav a:hover{
    color: #E50914;
    text-shadow: 10px red;
}


/** Filme Principal - Section  */

.filme-principal{
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5) 100%), url(/Img/banner_course.png);
    
	height:500px;
	background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container{
    margin-left: 3%;
    width: 80%;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    padding-right: 25%;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.filme-principal .titulo{
    margin-top: 15%;
    text-transform: uppercase;
    font-size:40px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.botoes{
    margin-left: 3%;
}

.botao{
    font-style: 'Arial black';
    color: #ffffff;
    
    background-color: var(--vermelho);
    border-radius: 10px;

    padding: 10px 15px;
    margin-right: 25px;

    cursor: pointer;
    transition: .3s;
}

.botao:hover{
    border-color: #a0060e;
    padding: 15px 20px 15px 20px;

}

.botao i{
    margin-right: 5px;
}

.box-filme{
    margin-top: 20px;
    padding: 3px 5px;
    display: block;
    width: 25%;
    height: 25%;

}

.carrousel-filmes{
    margin-top: 20px;
    padding: 10px;
}

.item{
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.item:hover{
    border: 3px solid rgb(255, 255, 255);
}

.fa-star{
    color: rgb(255, 196, 0);
}

.informacoes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}

.informacoes p {
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px;
}

.informacoes i{
    padding: 10px 10px;
}

/* .informacoes button{
    padding: 15px 25%;
    margin-left: 20px;
} */