:root{
    --vermelho: #E50914;
    --preta: #141414;  
}

/*Zerando Css abaixo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Elementos Base  */
body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content:space-between;

}

.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover{
    color: #E50914;
    text-shadow: 10px red;
}

.titulo{
    text-transform: uppercase;
}

/** Filme Principal - Section  */
.filme-principal{
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5) 100%), url(/Img/bg-banner.jpg);

	height:400px;
	background-size: cover;

    display: flex;
    direction: row;
}